<?xml version="1.0"?>

   <robot name="drone">

      <material name="blue">
          <color rgba="0.0 0.0 0.8 1.0"/>
      </material>

      <material name="grey">
          <color rgba="0.2 0.2 0.2 1.0"/>
      </material>


      <link name="base_link">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.4 0.4 0.04"/>
          </geometry>
          <material name="grey"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
              <box size="0.4 0.4 0.04"/>
            </geometry>
          </collision>

          <inertial>
            <mass value="1.5"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
          </inertial>
      </link>

      <link name="FL">
        <visual>
          <origin xyz="0.2 0.2 0" rpy="0 0 0" />
          <geometry>
              <cylinder length="0.03" radius="0.13"/>
          </geometry>
          <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0.2 0.2 0" rpy="0 0 0" />
            <geometry>
              <cylinder length="0.03" radius="0.13"/>
            </geometry>
          </collision>

          <!-- <inertial>
            <mass value="0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial> -->

          <!--<inertial>
            <mass value="0.3"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial>-->
      </link>

      <link name="FR">
        <visual>
          <origin xyz="0.2 -0.2 0" rpy="0 0 0" />
          <geometry>
              <cylinder length="0.03" radius="0.13"/>
          </geometry>
          <material name="blue"/>
        </visual>

        <collision>
            <origin xyz="0.2 -0.2 0" rpy="0 0 0" />
            <geometry>
              <cylinder length="0.03" radius="0.13"/>
            </geometry>
          </collision>

          <!-- <inertial>
            <mass value="0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial> -->

          <!--<inertial>
            <mass value="0.3"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial>-->
      </link>

      <link name="BL">
        <visual>
          <origin xyz="-0.2 0.2 0" rpy="0 0 0" />
          <geometry>
              <cylinder length="0.03" radius="0.13"/>
          </geometry>
          <material name="grey"/>
        </visual>

        <collision>
            <origin xyz="-0.2 0.2 0" rpy="0 0 0" />
            <geometry>
              <cylinder length="0.03" radius="0.13"/>
            </geometry>
          </collision>

          <!-- <inertial>
            <mass value="0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial> -->

          <!--<inertial>
            <mass value="0.3"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial>-->
      </link>

      <link name="BR">
        <visual>
          <origin xyz="-0.2 -0.2 0" rpy="0 0 0" />
          <geometry>
              <cylinder length="0.03" radius="0.13"/>
          </geometry>
          <material name="grey"/>
        </visual>

        <collision>
            <origin xyz="-0.2 -0.2 0" rpy="0 0 0" />
            <geometry>
              <cylinder length="0.03" radius="0.13"/>
            </geometry>
          </collision>

          <!-- <inertial>
            <mass value="0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial> -->

          <!--<inertial>
            <mass value="0.3"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial>-->
      </link>
	 
     <joint name="base_to_FL" type="fixed">
       <parent link="base_link"/>
       <child link="FL"/>
     </joint>
     <joint name="base_to_FR" type="fixed">
       <parent link="base_link"/>
       <child link="FR"/>
     </joint>
     <joint name="base_to_BL" type="fixed">
       <parent link="base_link"/>
       <child link="BL"/>
     </joint>
     <joint name="base_to_BR" type="fixed">
       <parent link="base_link"/>
       <child link="BR"/>
     </joint>

   </robot>



   